doctype
html(ng-app="app")
	head
		meta(charset="utf-8")

		link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

		script(type="text/javascript", src="/bower_components/angular/angular.js")
		script(type="text/javascript", src="/bower_components/angular-route/angular-route.js")

		script(type="text/javascript", src="/app/app.module.js")

		script(type="text/javascript", src="/app/core/core.module.js")
		script(type="text/javascript", src="/app/core/repository.js")

		script(type="text/javascript", src="/app/teams/teams.module.js")
		script(type="text/javascript", src="/app/teams/config.route.js")
		script(type="text/javascript", src="/app/teams/team.controller.js")
		script(type="text/javascript", src="/app/teams/teamsList.directive.js")
		script(type="text/javascript", src="/app/teams/teams.repository.js")
		script(type="text/javascript", src="/app/teams/teamsSelector.directive.js")
	body

		.row
			.col-xs-3

				.row
					.col-xs-12
						teams-selector

				.row
					.col-xs-12
						teams-list

			.col-xs-3			
				.row
					.col-xs-12
						div(ng-view)